.content-home{
    padding-top: 18%;
    padding-left: 5%;
}
.text-home-intro{
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    padding-bottom: 1.5rem;
}
.text-typed{
font-size: 3rem;
 color: #fff;
}

@media (max-width: 800px) {
}

@media (max-width: 767px) {
    .content-home{
        padding-top: 30%;
    }
    .text-home-intro{
        font-size: 3.5rem;
    }
    .text-typed{
        font-size: 2.4rem;
        }
}

@media (max-width: 480px) {
    .content-home{
        padding-top: 46%;
    }
    .text-home-intro{
        font-size: 2.8rem;
        
    }
    .text-typed{
        font-size: 1.6rem;
        }
}
