.text-contact{
    color: rgba(255,255,255,.7);
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}
.icon-contact{
    padding-right: 2rem;
    font-size: 1.8rem;
    line-height: 1.1;
    color: rgba(255,255,255,.6);
}
.btn-contact{
    background: rgba(0,0,0,0.55);
    border: none;
}
.btn-contact:hover{
    background: rgba(0,0,0,0.7);
}

@media (min-width: 900px) {
    .icon-contact{
        padding-left: 5rem;
    }  
}

@media (max-width: 800px) {
}

@media (max-width: 767px) {
   
    .text-contact{
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }
    .icon-contact{
        font-size: 1.6rem;
    }
   
}

@media (max-width: 480px) {

}

@media (max-width: 390px) {
    .text-contact{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    .icon-contact{
        padding-right: 1rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 330px) {
    .text-contact{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    .icon-contact{
        padding-right: 1rem;
        font-size: 1.5rem;
    }
}